html {
    font-size: 16px;
}

body {
    font-family: 'Public Sans', sans-serif;
    color: #33323D;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Ibarra Real Nova', serif;
    color: #33323D;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -.45px;
}

h2 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -.36px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -.29px;
}

p {
    font-size: 1rem;
    line-height: 30px;
    color: rgba(51, 50, 61, .8);
}

.logo img {
    width: 80px;
    height: 80px;
}

.btn-site {
    width: 200px;
    height: 48px;
    text-transform: uppercase;
    border: 1px solid #33323D;
    border-radius: 0;
}

.btn-alink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-about-me {
    display: flex;
    align-items: center;
    border: none;
    background-color: #203A4C;
    color: #fff;
    padding-left: 0;

    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, .1);

        img {
            width: 16px;
            height: 12px;
        }
    }

    &__text {
        text-align: center;
        width: 138px;
    }
}

.main-outter-wrapper {
    padding: 2rem;
}

.logo-menu-wrapper {
    padding: 0;
}

.header {

    .intro__inner-wrapper {
        padding: 0;
    }

    .intro h1 {
        line-height: 42px;
        line-height: 1.1;
    }
    
    .top__content {
        height: 40vh;
        background-image: url('../assets/images/header-img.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.about {

    &__image {
        height: 800px;
        background-image: url('../assets/images/enock-addey.jpg');
        background-size: cover;
        background-position: center top;
    }

    &__text {
        padding-top: 51px;

        h2 {
            padding-bottom: 28px;
        }
    }

    &__right {
        border-top: 1px solid rgba(51, 50, 61, .15);
    }
}

.home-cta {
    margin-top: 2rem;
    margin-bottom: 80px;

    &__content-wrapper {
        padding: 0;
    }

    &__line {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            border: 1px solid rgba(51, 50, 61, .15);
            width: 95%;
        }
    }

    &__question {
        margin: 0;
    }
}

.footer {
    background-color: #33323D;
    color: #fff;
    padding-top: 56px;
    padding-bottom: 56px;

    .logo img {
        filter: invert(96%) 
            sepia(96%) 
            saturate(0%) 
            hue-rotate(83deg) 
            brightness(105%) 
            contrast(106%);
        margin-bottom: 40px;
    }

    .primary-links {
        margin-bottom: 40px;

        &__wrapper {
            list-style: none;
            text-align: center;
            padding: 0;
        }

        &__link-wrapper {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .link-item {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .social-links {
        width: 102px;

        &__icon {
            filter: invert(96%) 
            sepia(96%) 
            saturate(0%) 
            hue-rotate(83deg) 
            brightness(105%) 
            contrast(106%);
        }
    }
}


@media (min-width: 768px) {

    .header {

        .top__content {
            height: 700px;
        }
    }

    .home-cta {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 2rem;
        padding-right: 2rem;
    
        .logo img {
            margin-bottom: 0;
        }

        &__item {
            // align-items: center;
        }
    
        .primary-links {
            margin-bottom: 0;
            width: 70%;
    
            &__wrapper {
                margin-bottom: 0;
                display: flex;
                justify-content: space-between;
            }
    
            &__link-wrapper {
                margin-bottom: 0;
            }
    
            .link-item {

            }
        }
    
        .social-links {
            width: 102px;
    
            &__icon {
                filter: invert(96%) 
                sepia(96%) 
                saturate(0%) 
                hue-rotate(83deg) 
                brightness(105%) 
                contrast(106%);
            }
        }
    }
}